@model HomeViewModel;


<section class="p-0">
    <div class="swiper full-screen top-space-margin md-h-600px sm-h-500px magic-cursor magic-cursor-vertical swiper-number-pagination-progress swiper-number-pagination-progress-vertical"
         data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;direction&quot;: &quot;horizontal&quot;, &quot;loop&quot;: true, &quot;parallax&quot;: true, &quot;speed&quot;: 1000, &quot;pagination&quot;: { &quot;el&quot;: &quot;.swiper-number&quot;, &quot;clickable&quot;: true }, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false },  &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1199&quot;: { &quot;direction&quot;: &quot;vertical&quot; }}, &quot;effect&quot;: &quot;slide&quot; }"
         data-swiper-number-pagination-progress="true">
        <div class="swiper-wrapper">

            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                     style="background-image:url('/images/slider1.jpg');">
                    <div class="container h-100">
                        <div class="row align-items-center h-100 justify-content-start">
                            <div class="col-md-10 position-relative text-white d-flex flex-column justify-content-center h-100">
                                <div data-anime="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;easing&quot;: &quot;easeOutQuad&quot;, &quot;duration&quot;: 500, &quot;delay&quot;: 300 }"
                                     class="alt-font text-dark-gray mb-25px fs-20 sm-mb-15px">
                                    <span class="text-highlight">
                                        We have the best Services!<span class="bg-base-color h-8px bottom-0px"></span>
                                    </span>
                                </div>
                                <div class="alt-font fs-100 xs-fs-95 lh-100 mb-40px text-dark-gray fw-600 transform-origin-right ls-minus-5px sm-mb-25px"
                                     data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;rotateX&quot;: [90, 0], &quot;opacity&quot;: [0,1], &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                                    <span class="d-block">Our Survices</span>
                                    <span class="d-block fs-70 fw-300">On-Site Catering</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                     style="background-image:url('/images/slider2.jpg');">
                    <div class="container h-100">
                        <div class="row align-items-center h-100 justify-content-start">
                            <div class="col-md-10 position-relative text-white d-flex flex-column justify-content-center h-100">
                                <div data-anime="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;easing&quot;: &quot;easeOutQuad&quot;, &quot;duration&quot;: 500, &quot;delay&quot;: 300 }"
                                     class="alt-font text-dark-gray mb-25px fs-20 sm-mb-15px">
                                    <span class="text-highlight">
                                        We have the best Services!<span class="bg-base-color h-8px bottom-0px"></span>
                                    </span>
                                </div>
                                <div class="alt-font fs-100 xs-fs-95 lh-100 mb-40px text-dark-gray fw-600 transform-origin-right ls-minus-5px sm-mb-25px"
                                     data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;rotateX&quot;: [90, 0], &quot;opacity&quot;: [0,1], &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                                    <span class="d-block">Our Survices</span>
                                    <span class="d-block fs-70 fw-300">Off-Site Catering</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                     style="background-image:url('/images/slider3.jpg');">
                    <div class="container h-100">
                        <div class="row align-items-center h-100 justify-content-start">
                            <div class="col-md-10 position-relative text-white d-flex flex-column justify-content-center h-100">
                                <div data-anime="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;easing&quot;: &quot;easeOutQuad&quot;, &quot;duration&quot;: 500, &quot;delay&quot;: 300 }"
                                     class="alt-font text-dark-gray mb-25px fs-20 sm-mb-15px">
                                    <span class="text-highlight">
                                        We have the best Services!<span class="bg-base-color h-8px bottom-0px"></span>
                                    </span>
                                </div>
                                <div class="alt-font fs-100 xs-fs-95 lh-100 mb-40px text-dark-gray fw-600 transform-origin-right ls-minus-5px sm-mb-25px"
                                     data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;rotateX&quot;: [90, 0], &quot;opacity&quot;: [0,1], &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                                    <span class="d-block">Our Survices</span>
                                    <span class="d-block fs-70 fw-300">Full-Service Catering</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination-wrapper">
            <div class="pagination-progress-vertical d-flex align-items-center justify-content-center">
                <div class="number-prev text-dark-gray fs-16 fw-500"></div>
                <div class="swiper-pagination-progress">
                    <span class="swiper-progress"></span>
                </div>
                <div class="number-next text-dark-gray fs-16 fw-500"></div>
            </div>
        </div>

    </div>
</section>





<section class="ps-7 pe-7 pb-3 lg-ps-3 lg-pe-3 sm-pb-6 xs-px-0">
    <div class="container">
        <div class="row mb-5 xs-mb-8">
            <div class="col-12 text-center">
                <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">
                    Our <span class="text-highlight fw-600">
                        Menus<span class="bg-base-color h-5px bottom-2px"></span>
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 ">
                <ul class="shop-modern shop-wrapper grid-loading grid grid-5col lg-grid-4col md-grid-3col sm-grid-2col xs-grid-1col gutter-extra-large text-center"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 300, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <li class="grid-sizer"></li>

                    @foreach (var menu in Model.menuTable)
                    {
                    <li class="grid-item">
                        <div class="shop-box mb-10px">
                            <div class="shop-image mb-20px">
                                        <img src="~/CatererDashboard/@menu.MenuImage" style="width: 200px; height: 200px; object-fit: cover;">
                                    <div class="shop-overlay bg-gradient-gray-light-dark-transparent"></div>
                                <div class="shop-buttons-wrap">
                                    <a asp-controller="Home" asp-action="Shopmain"
                                       class="alt-font btn btn-small btn-box-shadow btn-white btn-round-edge left-icon add-to-cart">
                                        <i class="feather icon-feather-shopping-bag"></i><span class="quick-view-text button-text">View More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="shop-footer text-center">
                                    <a asp-controller="Home" asp-action="Shopmain"
                                       class="alt-font text-dark-gray fs-19 fw-500">
                                        <div class="alt-font text-dark-gray fs-19 fw-500">@menu.MenuName</div>
                                    </a>
                                    <span class="price lh-22 fs-16 fw-bold text-black">Price: </span>
                                    <span>@menu.MenuPrice PKR</span>

                                    <div class="lh-22 fs-16">
                                        @if (menu.CatererMenuNavigation != null)
                                        {
                                            <span class="fw-bold lh-22 fs-16 text-black">Caterer Name: </span>
                                            <span>@menu.CatererMenuNavigation.UserName</span>

                                        }
                                        else
                                        {
                                            <span class="text-danger">Caterer Not Available</span>
                                        }
                                    </div>

                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="p-0 border-top border-bottom border-color-extra-medium-gray">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col swiper text-center swiper-width-auto"
                 data-slider-options="{ &quot;slidesPerView&quot;: &quot;auto&quot;, &quot;spaceBetween&quot;:0, &quot;speed&quot;: 10000, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination-2&quot;, &quot;clickable&quot;: false }, &quot;allowTouchMove&quot;: false, &quot;autoplay&quot;: { &quot;delay&quot;:0, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-four-slide-next-2&quot;, &quot;prevEl&quot;: &quot;.slider-four-slide-prev-2&quot; }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;effect&quot;: &quot;slide&quot; }">
                <div class="swiper-wrapper marquee-slide">

                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Elevate Your Event with Exquisite Culinary Creations
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Indulge in a Gastronomic Journey with Our Signature Menus
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Experience Unmatched Quality and Service for Your Special Occasion
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Treat Your Guests to Culinary Delights with Our Catering Services
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Create Lasting Memories with Delectable Dishes and Impeccable Service
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                            Indulge in a Gastronomic Journey with Our Signature Menus
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>





<section class="bg-very-light-gray mb-3 position-relative ps-3 xs-ps-0">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 ps-5 pe-5 xl-pe-0 lg-ps-0 text-center text-lg-start md-mb-40px">
                <div class="mb-10px">
                    <span class="text-dark-gray fw-500 text-highlight">
                        We've got the best Caterers!<span class="bg-base-color h-8px bottom-0px"></span>
                    </span>
                </div>
                <h2 class="alt-font lh-50 text-dark-gray ls-minus-1px mb-15px">
                    <span class="fw-600">Caterers</span>
                </h2>
                <p class="xs-pe-15px xs-ps-15px">
                    Caterers are businesses that provide food and beverage services for events or occasions.
                </p>
                <a asp-controller="Home" asp-action="Collectionmain" class="btn btn-dark-gray btn-box-shadow btn-medium">
                    View
                    Caterers
                </a>
            </div>
            <div class="col-12 col-lg-9 position-relative">
                <div class="outside-box-right-10 lg-outside-box-right-20 md-outside-box-right-25 xs-outside-box-right-0">
                    <div class="swiper slider-three-slide"
                         data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 30, &quot;loop&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination-1&quot;, &quot;clickable&quot;: true, &quot;dynamicBullets&quot;: false }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1400&quot;: { &quot;slidesPerView&quot;: 4 }, &quot;1024&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;576&quot;: { &quot;slidesPerView&quot;: 2 }, &quot;320&quot;: { &quot;slidesPerView&quot;: 1 } }, &quot;effect&quot;: &quot;slide&quot; }">
                        <div class="swiper-wrapper">

                            @foreach (var user in Model.userTable)
                            {

                            <div class="swiper-slide">
                                <div class="interactive-banner-style-09 border-radius-6px overflow-hidden position-relative">
                                    <img src="~/@user.UserImage" />
                                    <div class="opacity-full bg-gradient-gray-light-dark-transparent"></div>
                                    <div class="image-content h-100 w-100 ps-15 pe-15 pt-11 pb-11 lg-p-11 d-flex justify-content-bottom align-items-start flex-column">
                                        <div class="mt-auto d-flex align-items-start w-100 z-index-1 position-relative overflow-hidden flex-column">
                                            <span class="text-white fw-500 fs-22">@user.UserName</span>
                                            <span class="content-title text-white fs-14 fw-500 opacity-7 text-uppercase ls-05px">
                                                @user.UserEmail
                                            </span>
                                                <a asp-controller="Home" asp-action="BookingDetails" asp-route-id="@user.UserId"
                                               class="content-title-hover fs-14 lh-24 fw-500 ls-05px text-uppercase text-white opacity-6 text-decoration-line-bottom">
                                                View
                                                Caterer
                                            </a>
                                            <span class="content-arrow lh-50 rounded-circle bg-base-color w-50px h-50px ms-20px text-center">
                                                <i class="bi bi-arrow-right-short text-dark-gray icon-very-medium"></i>
                                            </span>
                                        </div>
                                        <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-regal-blue-transparent opacity-9">
                                        </div>
                                        <div class="box-overlay bg-gradient-gray-light-dark-transparent"></div>
                                            <a asp-controller="Home" asp-action="BookingDetails" asp-route-id="@user.UserId"
                                           class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                                    </div>
                                </div>
                            </div>

                            }


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="fs-180 lg-fs-150 md-fs-130 fw-700 position-absolute bottom-minus-50px md-bottom-minus-40px ls-minus-5px left-0px right-0px text-center w-100 opacity-1 d-none d-md-block"
         data-bottom-top="transform:scale(1, 1) translate3d(0px, 0px, 0px);"
         data-top-bottom="transform:scale(1, 1) translate3d(-100px, 0px, 0px);">
        Our Caterers
    </div>
</section>


<section class="pt-0 pb-0 ps-7 pe-7 lg-ps-3 lg-pe-3 xs-p-0 mt-7 mb-7">
    <div class="container">
        <div class="row mb-5 xs-mb-8">
            <div class="col-12 text-center">
                <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">
                    Our Menu<span class="text-highlight fw-600">
                        Categories<span class="bg-base-color h-5px bottom-2px"></span>
                    </span>
                </h2>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-2 row-cols-md-2 justify-content-center"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;perspective&quot;: [1200,1200], &quot;scale&quot;: [1.1, 1], &quot;rotateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            @foreach (var category in Model.categoryTable)
            {

                <div class="col categories-style-02 lg-mb-30px">
                    <div class="categories-box">
                        <a asp-controller="Home" asp-action="Shopmain">
                            <img class="sm-w-100" src="~/CatererDashboard/@category.CategoryImage" style="width: 300px; height: 200px; object-fit: cover;" />
                        </a>
                        <div class="absolute-top-center top-100px md-top-50px">
                            <a asp-controller="Home" asp-action="Shopmain"
                               class="btn btn-white btn-switch-text btn-round-edge btn-box-shadow fs-18 text-uppercase-inherit p-5 min-w-150px">
                                <span>
                                    <span class="btn-double-text " data-text="@category.CategoryName">@category.CategoryName</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            }



        </div>
    </div>
</section>







